@import '../app.scss';

    svg {
      // fill: currentColor;
      fill: #0d0d20;
      // fill: #393d52;
      width: 28px;
      height: 28px;

      @include mobile {
        width: 18px;
        height: 18px;
      }
    }
